html,
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}

.wrapper {
    position: relative;
    display: flex;
    width: min(calc(100vh * 800/600), 100vw);
    /* height: min(100vh, calc(100vw * 600/800)); */
    max-height: 100vh;
    border: 8px solid transparent;
    box-sizing: border-box;
    flex-direction: column;
}

#app {
    display: flex;
    height: calc(100vh - 20em);
    height: auto;
    width: calc(100% - 2em);
    margin: auto;

    @media (min-width: 768px) {
        height: calc(100vh - 20em);
        width: auto;
    }
}

header {
    display: flex;
    flex: 0 0 2em;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    color: whitesmoke;
}

.head-content {
    display: flex;
    width: 100%;
    padding: 0.25em;
    box-sizing: border-box;
    flex-direction: column;

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}

.explain {
    flex: 50% 0 0;
}

.settings {
    flex: 50% 0 0;
    padding: 0.25em;
    box-sizing: border-box;
    background-color: #222222;

    &__content {
        display: grid;
        gap: 0.25em;
        grid-template-columns: 1fr 1fr 1fr;

        * {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .music-toggle {
            grid-area: 1 / 1;

            >span {
                margin-left: 1em;
            }
        }

        .music-volume {
            grid-area: 1 / 2 / 1 / 4;
        }

        .sound-toggle {
            grid-area: 2 / 1;

            >span {
                margin-left: 1em;
            }
        }

        .sound-volume {
            grid-area: 2 / 2 / 2 / 4;
        }

        .restart-level {
            grid-area: 3 / 1 / 3 / 1;
        }

        .select-level {
            grid-area: 3 / 2 / 3 / 2;
        }

        .new-random-level {
            grid-area: 3 / 3 / 3 / 3;
        }

        .credits {
            grid-area: 3 / 4 / 3 / 4;
        }
    }

}

#level-select-popup {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 600px;
    max-width: 90vw;
    max-height: 90vh;
    padding: 1em;
    overflow-y: auto;
    box-sizing: border-box;
    background: whitesmoke;
    flex-wrap: wrap;
    gap: 0.5em;

    &.js-hidden {
        display: none;
    }

    >.close-button {
        position: absolute;
        right: 0;
        top: 0;
        background-color: gray;
        color: whitesmoke;
    }

    >div {
        flex: calc(25% - 0.5em) 0 0;
        padding: 0.25em;
        box-sizing: border-box;
        background-color: gray;
        color: whitesmoke;
        cursor: pointer;

        * {
            pointer-events: none;
        }

        >.set {
            display: none;
        }

        >.map {
            display: none;
        }
    }
}

h1,
h2,
h3 {
    margin: 0 0.125em;
}

button {
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
    flex: 4em 0 0;

    .set {
        display: flex;
        height: 1em;
        width: 200%;
        background-color: black;
        color: whitesmoke;
        align-items: center;
        animation: textshow 5s linear infinite;

        &__instance {
            display: flex;
            height: 1em;
            width: 50%;
            justify-content: space-evenly;
            align-items: center;
        }

        &:hover {
            animation-play-state: paused;
        }

        >span {
            display: flex;
        }
    }

    .state {
        display: flex;
        flex: 0 0 1.5em;
        line-height: 1.5em;
        width: 100%;
        justify-content: space-evenly;
        color: whitesmoke;
        background-color: gray;
        font: 24px serif;
    }
}

@keyframes textshow {
    0% {
        transform: translate(0%, 0);
    }

    100% {
        transform: translate(-50%, 0);
    }

    // 51% {
    //     transform: translate(-100%, 0);
    // }

    // 100% {
    //     transform: translate(0, 0);
    // }
}


/**
* Unstyle the slider Credits to :
* @see https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/
input[type=range] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 300px;
    /* Specific width is required for Firefox. */
    background: transparent;
    /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range] {
    background: whitesmoke;
    height: 1em;

    &::-webkit-slider-thumb {
        display: flex;
        width: 1em;
        height: 1em;
        background-color: gray;
        color: black;
    }

    &::-moz-range-thumb {
        display: flex;
        width: 1em;
        height: 1em;
        background-color: gray;
        color: black;
    }

    &::-ms-thumb {
        display: flex;
        width: 1em;
        height: 1em;
        background-color: gray;
        color: black;
    }
}